<div class="page">
  <h1>Privacy Policy</h1>
  <blockquote>This describes the ways we collect, store, use, and manage the information you provide</blockquote>
  <p class="italic half-opacity">Last updated: Saturday, 8th November 2017</p>

  <!-- Sharing data -->
  <h3>1. Sharing data</h3>
  <p>We do not share your personal information with anyone, but every players' game statistics are added to a global leadboard</p>
  <h5>Facebook login</h5>
  <p>We do not post to Facebook. We do not share your email or any account information provided to us by Facebook - this is used for login purposes only.</p>

  <!-- Advertisements -->
  <h5>Advertisements</h5>
  <p>We do not share your personal information with any third-parties. We may, however, block unsuitable advertiser content if you are under 18.</p>

  <!-- Game statistics -->
  <h5>Game statistics</h5>
  <p>We share game data on a global leaderboard which is viewable by the public. This includes your username, selected 'hero', your score, your game prediction wins and losses tally, your game prediction win percentage, your highest win streak, current win streak, accolades and any other data related to accruing a score within the game.</p>
  <p><b>We do not recommend using your full name as your username.</b></p>

  <!-- Storing data -->
  <h3>2. Storing data</h3>
  <p>Hoopbot only stores data it needs to function properly, which will be wiped if you choose to delete the app. This is a very </p>
  <h5>Authentication</h5>
  <p>Hoopbot saves only the authentication information it needs to so that you don't have to keep logging in on the device you've used to install the app, in accordance with OAuth authentication policy, which you can read <a href="https://docs.apigee.com/api-services/content/oauthv2-policy" target="_blank">here</a>.</p>
  <h5>Offline experience</h5>
  <p>In order to provide (limited) offline functionality, Hoopbot may store some game data on your device, which is updated when you are back online. This includes: the daily schedule, Hoopbot leaderboards, basketball standings and your game data statistics. This does not include any rich media such as images or videos.</p>

  <!-- Deleting data -->
  <h3>3. Deleting data</h3>
  <p>We reserve the right to keep any game statistics data you have accrued while playing Hoopbot. To delete your account, please <a routerLink="/about-us">contact us.</a></p>

  <!-- Changes -->
  <h3>Changes to this Privacy Policy</h3>
  <p>We will occasionally update this Privacy Policy to reflect changes in the law, our data collection and use practices, the features of our Service, or advances in technology. When we post changes to this Privacy Policy, we will revise the “last updated” date at the top of this Privacy Policy. You should regularly check for the most recent version, which is the version that applies. If we make any material changes to this Privacy Policy, we will notify you of the changes by reasonable means, which could include notifications through the Services or via email. Please review the changes carefully. Your continued use of the Services following the posting of changes to this policy will mean you consent to and accept those changes. If you do not consent to such changes you can delete your account by following the instructions under Settings.</p>
</div>
