.side-menu {
  width: 300px;
  height: 100vh;
  display: flex;
  background: #ee4649;
  color: white;
  float: left;
  position: fixed;
  top:0;
  left: 0;
  transition: 0.25s ease;

  // Flex stuff
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  .flex-item {
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.flex-item:hover {
  cursor: pointer;
}

.button {
  font-family: 'Changa One', "Helvetica Neue", Helvetica Neue, Arial, sans-serif;
  font-size: 21px;
  transition: .25s ease;
  span {
    transition: .15s ease;
  }
}

.button:hover {
  span {
    transform: scale3d(1.05,1.05,1);
  }
}

.button.active {
  background: rgba(0, 0, 0, 0.08);
  //background: #333;
}

.logo {
  img {
    height: 180px;
  }
  .title {
    font-family: 'Changa One', 'Helvetica Neue', Helvetica Neue, Arial, sans-serif;
  }
  .subtitle {
    font-style: italic;
  }
}

// Mobile:
@media only screen and (max-width: 669px) {
  .side-menu {
    width: calc(100% - 66px);
    z-index: 1;
    transform: translate3d(-100%, 0, 0);
  }
  .side-menu.open {
    transform: translate3d(0,0,0);
  }
}
