<div class="page">
  <h1>How to Play</h1>
  <blockquote>Get ahead on the leaderboard with these helpful tips</blockquote>

  <!-- Predicting games -->
  <h3>1. Predicting games</h3>
  <p>Simply tap on the team you think is going to win. To remove your prediction, tap on the same team again. To change your prediction, tap on the other team. That's all there is to it.</p>

  <!-- How scores are calculated -->
  <h3>2. How scores are calculated</h3>
  <p>For each game, all predictions are put into 'the pot', which is then split amongst the winners.</p>
  <h5>Example 1</h5>
  <p class="italic">If 100 players make a game prediction, and 80 players get it right, they will each be rewarded 1.25 points (100 divided by 80).</p>
  <h5>Example 2</h5>
  <p class="italic">If 100 players make a game prediction, and only 20 players get it right, they will each be rewarded 5 points (100 divided by 20).</p>
  <p>This means that, in some cases, you will be better off placing your prediction on the 'underdog'. <b>Make sure you click 'View Prediction Stats' to take advantage of this.</b></p>
  <p>You do not lose any points for getting a prediction wrong, so it is recommended that you make a prediction on every game!</p>

  <!-- Choosing a hero -->
  <h3>3. Choosing a hero</h3>
  <p>Your hero does not affect your score, but is how you are seen on the leaderboard. <b>You will automatically unlock new heroes the more you win</b>. To change your hero at any time, head to your account tab - this change will take effect on the leaderboard immediately.</p>
</div>
